*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 8px;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  background-color: #201e26;
}

/*  ============================================ */

/*  ============================================ */

/*  ============================================ */

/* Navigasi Bar */

.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
  z-index: 1;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 2.5rem 5rem;
  border-radius: 4rem;
  background-color: rgba(48, 47, 47, 0.4);
  backdrop-filter: blur(1.5rem);
}

.navbar > .nav-list {
  display: flex;
  gap: 4rem;
  list-style-type: none;
}

.navbar > .nav-list > li a {
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.05s ease-in-out;
}

.navbar .nav-list a:hover {
  color: #e4e417;
  font-weight: bold;
}

/*  ============================================ */

/*  ============================================ */

/*  ============================================ */

/* jumbotron */

.jumbotron {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.jumbotron > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.content > .copywriting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.copywriting > h1 {
  font-size: 4rem;
  color: white;
}

.copywriting > h3 {
  font-size: 4rem;
  color: #7e7c80;
}

.copywriting > p {
  line-height: 4rem;
  font-size: 2.5rem;
  font-family: "Poppins";
  text-align: center;
  width: 600px;
  color: #7e7c80;
}

.btn {
  display: flex;
  gap: 2rem;
}

.btn > .btnBelajar {
  font-family: "Quicksand", sans-serif;
  border: 0.3rem solid #e4e417;
  border-radius: 4rem;
  text-align: center;
  width: 200px;
  padding: 1.5rem;
  font-size: 2.5rem;
  background-color: #e4e417;
  color: #201e26;
  text-decoration: none;
  cursor: pointer;
}

.btn > .btnTutorial {
  font-family: "Quicksand", sans-serif;
  border: 0.3rem solid #7e7c80;
  border-radius: 4rem;
  text-align: center;
  width: 200px;
  padding: 1.5rem;
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  background-color: rgba(48, 47, 47, 0.4);
  backdrop-filter: blur(5rem);
  cursor: pointer;
}

.btn > .btnBelajar:hover {
  background-color: #201e26;
  color: #e4e417;
}

/* ========================= */
/* ========================= */

/* ========================= */

.jumbotron > .card {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.card > .course {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #28282f;
  border-radius: 1.5rem;
  padding: 6rem;
  text-align: center;
  transition: transform 0.8s;
  cursor: pointer;
  color: white;
}

.card > .course > h3 {
  font-size: 3rem;
}

.card > .course > h4 {
  font-size: 2.5rem;
}

.card > .course > p {
  font-size: 2.5rem;
  font-weight: 500;
}

.card > .course > img {
  width: 100px;
}

.card > .course:hover {
  background-color: #e4e417;
  transform: scale(1.03);
  color: #2d3e50;
}
